/* 채팅 말풍선 */
.chat-bubble {
  max-width: 80%;
  margin: 0.5rem 0;
  padding: 1rem 1.25rem;
  border-radius: 18px;
  white-space: pre-line;
  line-height: 1.5;
  font-size: 0.95rem;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: white;
}
.chat-bubble.user {
  align-self: flex-end;
  background-color: white;
  color: #000;
}
/* 사용자 말풍선 꼬리 */
.chat-bubble.user::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 0 6px 20px; /* 위 오른쪽 아래 왼쪽 */
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -11px;
  top: 30%;
}

.chat-bubble.bot {
  align-self: flex-start;
  background-color: white;
  color: #333;
}
/* 챗봇 말풍선 꼬리 */
.chat-bubble.bot::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 6px 0; 
  border-color: transparent #FFFFFF; 
  display: block;
  width: 0;
  z-index: 1;
  left: -11px; 
  top: 30%; 
}

.chat-text {
  word-break: break-word;
}

.chat-message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  position: relative;
}

.chat-message.user {
  flex-direction: row-reverse;
}

.chat-avatar {
  width: 36px;
  height: 36px;
  margin: 0 0.5rem;
  object-fit: cover;
  border-radius: 45%;
}
.chat-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

